html{
    box-sizing: border-box;
    font-size: 100%;
    
}

*, *::after, *::before {
    box-sizing: inherit;

}

body{
    padding: 0;
    margin: 0;
    font-family: ;
    background-color: ;
    color: ;
    
}